body {
  font-family: Arial, sans-serif;
}

.container {
  width: 300px;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

h1 {
  margin-bottom: 20px;
}

.option {
  margin-bottom: 10px;
}
